@model ChicagoInABox.Models.Item

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Item</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductImage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductImage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CatalogID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CatalogID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Caption)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Caption)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
