@model IEnumerable<ChicagoInABox.Models.Item>


<table>
    <tr>
        <th>
            Item Selected
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatalogID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td> 
            @Html.DisplayFor(modelItem => item.ItemID)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatalogID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caption)
        </td>
        
    </tr>
}

</table>
